

.navbar 
{
	opacity: 0.8;
	border-bottom: 1px solid #010101;
	
}
.container{
	display: flex;
	
}
.nav-item:hover {
	color: blue;
}

.jumbotron 
{
	padding-top: 100px;
}

.fa-ellipsis-v
{
	color: #fff;
}

.container.a
{
	color: #fff;
}

main
{
	font-family: 'Open Sans', sans-serif;
}

main img
{
	width: 100%;
	height: auto;	
}

main p i
{
	font-size: 0.8rem;
}

.card img 
{
	height: 30rem;
	width: auto;
}



.mirasimiz-jumbotron
{
	background-image: url(saat\ kulesi\,\ _2_.jpeg);
	background-size: cover;
	background-position: 10% 70%;
}

.saatkulesi-jumbotron
{
	background-image: url(saat\ kulesi\,\ _2_.jpeg);
	background-size: cover;
	background-position: 10% 70%;
}

.kapanca-jumbotron
{
	background-image: url(KAPANCA\ SOKAK.jpeg);
	background-size: cover;
	background-position: 10% 70%;
}

.kasrıhumayun-jumbotron
{
	background-image: url(kh2.jpg);
	background-size: cover;
	background-position: 10% 70%;
}
.golkaypark-jumbotron
{
	background-image: url(Gölkay_park.jpg);
	background-size: cover;
	background-position: 10% 70%;
}
.container img{
	height: 300px;
	padding-left: 15%;
}